<h1>New question</h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>

  <p>
    Your e-mail<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </p>
  <p>
    <%= f.submit 'Send' %>
  </p>
<% end %>
