<div class="box">
    <h3>The Quran</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'What is the Quran?', :action => 'what_is_quran'%></li>
        <li><%= link_to 'Who is the Quran for?', :action => 'who_is_quran_for'%></li>
     </ul>
</div>
<div class="box">
    <h3>Linguistic Miracle</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'Inimitibility', :action => 'inimitibility'%></li>
    </ul>
</div>
<div class="box">
    <h3>Quran and Science</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'What scientists say', :action => 'what_scientists_say'%></li>
    </ul>
</div>
<div class="box">
    <h3>Modern Falsification Tests</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'Contradictions Challenge', :action => 'contradictions_challenge'%></li>
        <li><%= link_to 'Inimitibility', :action => 'inimitibility', :title => 'Inimitibility' %></li>
        <li><%= link_to 'Preservation', :action => 'preservation'%></li>
        <li><%= link_to 'Challenge to the Jewish', :action => 'challenge_to_jews'%></li>
    </ul>
</div>
<div class="box">
    <h3>Past Falsification Tests</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'Prediction of the Future', :action => 'chapter_ar_rum'%></li>
        <li><%= link_to 'Opportunity for an Enemy', :action => 'chapter_al_massad'%></li>
        <li><%= link_to 'Opportunity for the Jewish', :action => 'opportunity_for_jews'%></li>
    </ul>
</div>


