<div class="box">
    <h3>Claims Muhammad was the author</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'For material gains', :action => 'material_gains'%></li>
        <li><%= link_to 'For fame, status and glory', :action => 'fame_status_glory'%></li>
        <li><%= link_to 'For Arab unity and liberation', :action => 'arab_unity'%></li>
        <li><%= link_to 'For moral reformation', :action => 'moral_reformation'%></li>
        <li><%= link_to 'Suffering from Mythomania', :action => 'mythomania'%></li>
        <li><%= link_to 'Religious illusion theory', :action => 'religious_illusion'%></li>
    </ul>
</div>
<div class="box">
    <h3>Claims Muhammad learnt it from others</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'From a Roman blacksmith', :action => 'learnt_from_roman_blacksmith'%></li>
        <li><%= link_to 'From Warakah', :action => 'learnt_from_warakah'%></li>
        <li><%= link_to 'From Jews and Christians', :action => 'learnt_from_jews_and_christians'%></li>
        <li><%= link_to 'From people outside arabia', :action => 'learnt_from_people_outside_arabia'%></li>
        <li><%= link_to 'Copied from the Bible', :action => 'copied_from_bible'%></li>
    </ul>
</div>
<div class="box">
    <h3>Refutation</h3>
    <ul class="bottom">
        <li class="first"><%= link_to 'That the Quran is a deception', :action => 'deception'%></li>
    </ul>
</div>
