<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Copied from Bible</h1>
    <p>
        There are claims that <%=render "ourpurpose/prophet"%>
        copied the Quran from the Bible.
    </p>

    <p>
        He could not have copied it from the Bible because the Arabic version of
        the Bible was not available when he was alive. The first Arabic version
        of the old testament was available in 900CE, which is 250 years after
        the death of <%=render "ourpurpose/prophet"%>. So where is the question
        of the Quran being copied from the Bible?
    </p>

    <p>
        The Bible and the Quran have similarities, but it does not necessarily
        mean it is copied from the Bible. There is the possibility that both could
        have the same source. So both could have been from a common source,
        that is Allah.
    </p>

    <p>
        There are similarities between the new testament and the old testament,
        it does not mean that the new testament was copied from the old testament.
        It would be like saying <%=render "ourpurpose/prophet",:locals=>{:name=>"Jesus"}%>
        copied the new testament from the old testament.
    </p>

    <p>
        If <%=render "ourpurpose/prophet"%> had copied from the Bible then why would
        he have given due respect to <%=render "ourpurpose/prophet",:locals=>{:name=>"Jesus"}%>?
        If a person copies from his neighbour he would not write about him inside.
    </p>

    <p class="bottom">
        There are numerous scientific errors and contradictions in the Bible. If
        <%=render "ourpurpose/prophet"%>
        copied from the Bible then how did he correct the errors?
    </p>

</div>