<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Fame, Status, Glory and Leadership</h1>

    <p>
        According to Michael H. Hart (author of 100 most influential people book)
        <%=render "ourpurpose/prophet"%> was the most influential person from the whole of humankind.
        Michael H. Hart says the reason why he put him as No.1 was because of his indisputable secular
        and religious influence of <%=render "ourpurpose/prophet"%> that makes him the
        undisputed most influential person.
    </p>

    <p>
        He wouldn't have needed to claim that the Quran was from
        Allah if he was the most influential.
        He was so eloquent and had the correct qualities
        and abilities that he would not have needed
        to falsely attribute the Quran to Allah's word.
    </p>

    <p>
        If someone wants fame and leadership, along with it is also
        attached a luxurious life;
        good food, fancy clothes, guards, palaces, etc. But
        his life was so simple. He
        mended his own clothes, repaired his own shoes, milked his
        own sheep and did his
        own housework. So much so that his enemies used to remark, Allah says in Quran:
    </p>

    <p class="quote">
        And among them are men who annoy the Prophet (Muhammad SAW)
        and say: "He is (lending his) ear (to every news)." Say:
        "He listens to what is best for you; he believes in Allah;
        has faith in the believers; and is a mercy to those of you who believe.
        "But those who hurt Allah's Messenger (Muhammad SAW) will have a painful torment. (61)
        <%= render :partial => "ourpurpose/quran", :locals => { :surat => 9, :ayat => 61 } %>
    </p>

    <p class="bottom">
        <%=render "ourpurpose/prophet"%> was offered the best
        of women and leadership.
        He was told  that we will give you all of the wealth of arabia,
        we will make you the leader even the king,
        all you have to do is drop this message of the oneness of god.
        <%=render "ourpurpose/prophet"%> replied;
        if you were to put the sun in my right hand and the moon in my left, I would not give
        up this message until the day I die
    </p>

</div>