<% content_for :marginNavigation do %>
    <%= render :partial => "exhausting_the_alternatives_navigation" %>
<% end %>

<div class="box">
    <h1>Learnt from People outside Arabia</h1>

    <p>
        There are claims the <%=render "ourpurpose/prophet"%>
        learnt the Quran from people
        outside of Arabia.
    </p>

    <p>
        <%=render "ourpurpose/prophet"%> only went outside of
        Makkah three times:
    </p>

    <ul>
        <li>Madina at the age of 6</li>
        <li>Syria with his uncle between 9 and 11 years of age for a business trip</li>
        <li>Again to Syria when his was working for Khadija (may Allah be pleased with her)</li>
    </ul>

    <p>
        It is absurd to think that <%=render "ourpurpose/prophet"%> learnt
        the whole Quran in these three visits.
    </p>

    <p class="bottom">
        The enemies of the <%=render "ourpurpose/prophet"%> always kept a watch
        on him, surely he would have been exposed.
    </p>
   
</div>